body,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px 0px;
  text-align: center;
}

.container {
  margin: 0px 15px;
}

form {
  position: relative;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 0px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn-reset {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 30px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 1px;
}

.btn-reset:before {
  font-size: 13px;
  content: "✖";
}

.content {
  border: 1px solid #ccc;
}

ul.tabs {
  display: flex;
}

.tabs li {
  display: inline-block;
  width: 50%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  color: #999;
}

ul .active {
  background-color: #37c1bc;
  color: white;
}
